<!doctype html>
<title>Name System - Stardust</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons" rel="stylesheet">
<link href="/~~/n/osfs/fonts/fira_code.css" rel="stylesheet">
<link href="app.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="app">
  <ul id="root-tree" class="tree">
    <entry-item
      v-for="root in roots"
      :key="root"
      class="entry-item"
      :name="'sd://apt' + root"
      ref="trees"
      :path="root"
      :stat="{}"
      :type="'Folder'"
      :start-open="true">
    </entry-item>
  </ul>

  <div id="edit-pane">
    <ul id="tab-bar">
      <li v-for="tab in tabList" class="todo-tab"
          :title="tab.key"
          @click="activateTab(tab)"
          :key="tab.key"
          :class="{active: currentTab === tab, dirty: tab.dirty, untouched: tab.untouched}">
        <i class="material-icons tree-icon">{{tab.icon}}</i>
        <span class="label">{{tab.label}}</span>
        <i class="material-icons tree-icon close-btn"
           @click.stop="closeTab(tab)"
           title="close tab">close</i>
      </li>
    </ul>

    <component
        v-for="tab in tabList"
        v-show="tab === currentTab"
        :key="tab.key"
        :is="tab.type"
        :tab="tab"
        ref="tabElems"></component>
  </div>
</div>

<script type="text/x-template" id="entry-item">
  <li class="entry-item">
    <div
      class="folder-name"
      @click="activate">
      <i class="material-icons tree-icon">{{icon}}</i>
      {{name}}
    </div>

    <ul v-show="open" v-if="isFolder" class="sub-tree">
      <entry-item
        v-for="child in entry.children"
        ref="children"
        :key="child.name"
        :name="child.name"
        :type="child.type"
        :stat="child"
        :path="path + '/' + child.name"
        :start-open="name === 'sd://apt.danopia.net'">
      </entry-item>

      <create-entry-item
        :parent="path"
        :parentName="name">
      </create-entry-item>
    </ul>
  </li>
</script>

<script type="text/x-template" id="create-entry-item">
  <li class="create-entry-item">
    <div
      class="folder-name"
      @click="activate">
      <i class="material-icons tree-icon">add</i>
      create...
    </div>
  </li>
</script>

<script type="text/x-template" id="create-name">
<div class="panel-parent">
  <form class="form-panel"
      @submit.prevent="submit">
    <h3 class="form-row">Create Entry</h3>
    <label class="form-row">
      <span>Parent:</span>
      <input type="text" name="parent" :value="tab.path" readonly>
    </label>
    <label class="form-row">
      <span>Name:</span>
      <input type="text" name="name" v-model="name" autofocus required>
    </label>
    <label class="form-row">
      <span>Type:</span>
      <select name="type" v-model="type">
        <option>String</option>
        <option>File</option>
        <option>Folder</option>
      </select>
    </label>
    <div class="form-row">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
</script>

<script type="text/x-template" id="invoke-function">
<div class="panel-parent">
  <form class="form-panel"
      @submit.prevent="invoke">
    <h3 class="form-row">Invoke {{tab.path}}</h3>

    <p>
      <span v-if="inputType">
        Accepts a <strong>{{inputType}}</strong>.
      </span>
      <span v-if="outputType">
        Returns a <strong>{{outputType}}</strong>.
      </span>
    </p>

    <label
        v-for="prop in props"
        :key="prop.name"
        class="form-row">
      <span>{{prop.name}}</span>
      <input type="text" :name="prop.name" v-model="input[prop.name]" :required="!prop.optional">
    </label>

    <div class="form-row">
      <button type="submit">Invoke</button>
    </div>

    <p v-show="status">
      Status: {{status}}
    </p>

    <pre v-if="outputType === 'String'">{{output}}</pre>
  </form>
</div>
</script>


<script type="text/x-template" id="edit-file">
  <div class="panel-parent cm-panel">
    <codemirror
        ref="editor"
        :code="source"
        :options="editorOptions"
        @change="onChange"
      ></codemirror>
  </div>
</script>


<script src="https://unpkg.com/vue"></script>

<link rel="stylesheet" href="/~~/n/osfs/vendor/codemirror.css">
<link rel="stylesheet" href="/~~/n/osfs/vendor/codemirror-theme-tomorrow-night-bright.css">
<script src="/~~/n/osfs/vendor/codemirror.js"></script>
<script src="/~~/n/osfs/vendor/codemirror-mode.js"></script>
<script src="/~~/n/osfs/vendor/codemirror-mode-css.js"></script>
<script src="/~~/n/osfs/vendor/codemirror-mode-xml.js"></script>
<script src="/~~/n/osfs/vendor/codemirror-mode-javascript.js"></script>
<script src="/~~/n/osfs/vendor/codemirror-mode-htmlmixed.js"></script>
<script src="/~~/n/osfs/vendor/codemirror-mode-vue.js"></script>
<script src="/~~/n/osfs/vendor/vue-codemirror.js"></script>

<script src="../lib/orbiter.js"></script>
<script src="../lib/utils.js"></script>
<script src="app.js"></script>
