table td:first-child,
table th:first-child{
  padding-left: 24px;
}

tbody>* { display: table-row; }
tbody>*>* { display: table-cell; }

i {
  cursor: pointer;
}

code {
  border: 1px solid #cde;
  border-radius: 3px;
  padding: 0.1em 0.4em;
  background-color: #eef7ff;
  font-family: 'Fira Code', monospace;
}

.building-icon {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
