<!doctype html>
<title>Skychart Browser</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet">
<link href="/~~/n/osfs/fonts/fira_code.css" rel="stylesheet">
<link href="app.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>


<div id="app">

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper nav-fixed">
      <a id="logo-container" href="#" class="brand-logo">Skychart</a>
    </div>
  </nav>

  <div class="container" v-if="mode !== 'locate'">
    <h4 class="header">
      <a href="#" @click="mode = 'locate'">
        <i class="material-icons">arrow_back</i>
      </a>
      {{mode}} <code>~{{chart.name}}</code>
    </h4>
  </div>

  <component v-if="mode !== 'locate'"
             :is="mode + '-chart'"
             :name="chart.name"
             :path="openedPath"
             ></component>

  <div class="container" v-show="mode === 'locate'">
    <locate-chart />
  </div>
</div>

<script type="text/x-template" id="manage-chart">
  <div class="container">
    <div class="grey lighten-4 card">
      <div class="card-content">
        <span class="card-title">
          Chart metadata
        </span>
        <p>
          Public REST endpoint:
          <code>https://devmode.cloud/~{{name}}/</code> (routes to <code>web/</code>)
        </p>
        <p>
          Public browse endpoint:
          <code>skylink+wss://devmode.cloud/chart/{{name}}/</code>
        </p>
        <p>
          Internal browse endpoint:
          <code>skylink://{{name}}.chart.local/</code>
        </p>
      </div>
    </div>

    <form @submit="saveEntry">
    <div class="grey lighten-4 card">
      <table class="card-content">
        <thead>
          <tr>
            <th>Mountpoint</th>
            <th colspan="2">Device</th>
            <th>Settings</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="entry in entries"
              :key="entry.name">
            <td>{{entry.mountPath}}</td>
            <td>{{entry.deviceType}}</td>
            <td>{{entry.deviceUri}}</td>
            <td></td>
            <td>
              <a href="#" @click="startEdit(entry)"><i class="material-icons">edit</i></a>
              <a href="#" @click="delEntry(entry)"><i class="material-icons">delete</i></a>
            </td>
          </tr>

          <tr v-if="editing">
            <td><input type="text" v-model="editing.mountPath" placeholder="/n/..." required /></td>
            <td>
              <select v-model="editing.deviceType" required class="browser-default">
                <option>Link</option>
                <option>Device</option>
                <option>Stardriver</option>
              </select>
            </td>
            <td><input type="text" v-model="editing.deviceUri" placeholder="/drv/..." required /></td>
            <td></td>
            <td><button type="submit">Save</button></td>
          </tr>
        </tbody>
      </table>
      <div class="card-action">
        <a href="#" @click="startEdit({})">New Entry</a>
      </div>
    </div>
    </form>
  </div>
</script>

<script type="text/x-template" id="locate-chart">
  <div class="row">
    <div class="col s12 m10 l8">
      <h4 class="header">Chart Lookup</h4>
      <div class="card horizontal grey lighten-4">
        <!--div class="card-image">
          <img src="https://lorempixel.com/100/170/nature/6">
        </div-->
        <div class="card-stacked">
          <form class="card-content" @submit.prevent="openChart">
            <div class="input-field col s12 m8">
              <i class="material-icons prefix">search</i>
              <input id="search" type="text" class="validate"
                  v-model="chartName"
                  placeholder="Globally or locally unique name">
              <label for="search" class="active"
                >Open chart</label>
            </div>
            <div class="col s12 m4" style="text-align: center;">
              <button class="waves-effect waves-light btn" type="submit">Locate</button>
              <a class="waves-effect waves-teal btn-flat" @click="createChart">Create</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col s12 m6"
         v-for="chart in charts"
         :key="chart.name">
      <chart-card
             :name="chart.name"
             :path="chart.path"
           />
    </div>
  </div>
</script>

<script type="text/x-template" id="chart-card">
  <div class="blue darken-2 card">
    <div class="card-image" style="padding-top: 1em;">
      <span class="card-title" style="position: relative;">
        <span style="font-size: 70%; color: #ccc;"
          >{{homeDomain}}/~</span>{{name}}
      </span>
    </div>
    <div class="card-action">
      <a href="#" @click="selectMode('browse')">Browse</a>
      <a href="#" @click="selectMode('manage')">Manage</a>
    </div>
    <div class="card-content grey lighten-4">
      <p>
        Owned by {{ownerName}}
      </p>
      <p v-if="createdDate">
        Created on {{createdDate}}
      </p>
    </div>
  </div>
</script>

<script src="https://unpkg.com/vue"></script>
<script src="../lib/skylink.js"></script>
<script src="../lib/utils.js"></script>
<script src="app.js"></script>
