<!doctype html>
<title>Skychart Browser</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet">
<link href="/~~/n/osfs/fonts/fira_code.css" rel="stylesheet">
<link href="app.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>


<div id="app">

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper" style="text-align: center; font-size: 2.1rem;">
      <a id="logo-container" href="#">Skychart Explorer</a>
    </div>
  </nav>

  <div class="container" v-if="mode !== 'locate'">
    <h4 class="header">
      <a href="#" @click="mode = 'locate'">
        <i class="material-icons">arrow_back</i>
      </a>
      {{mode}} <code>~{{chart.name}}</code>
    </h4>
  </div>

  <component v-if="mode !== 'locate'"
             :is="mode + '-chart'"
             :chart="chart"
             ></component>

  <div class="container" v-show="mode === 'locate'">
    <locate-chart />
  </div>
</div>

<script type="text/x-template" id="edit-entry">
  <form @submit.prevent="save">
    <td><input type="text" v-model="mountPath" placeholder="/n/..." required /></td>
    <td>
      <select v-model="deviceType" required class="browser-default">
        <option value="BindLink">Bind Link</option>
        <option value="SymbolicLink">Symbolic Link</option>
        <option value="ActiveMount">Active Mount</option>
        <option value="PassiveMount">Passive Mount</option>
        <option value="StarDriver">Star-driver</option>
      </select>
    </td>
    <td>
      <select v-model="devicePrefix" class="browser-default"
          @change="reloadOpts">
        <option value="">no prefix</option>
        <option v-for="entry in entries"
                v-if="entry.mountPath !== mountPath"
                :key="entry.mountPath"
          >{{entry.mountPath}}</option>
      </select>
      <select v-model="deviceSuffix"
          class="browser-default"
          v-if="deviceOpts.length"
          @change="reloadMntOpts">
        <option v-for="entry in deviceOpts"
                :key="entry.Name"
          :value="entry.Path">{{entry.Name}}</option>
      </select>
      <input type="text" v-model="deviceSuffix"
          v-if="!deviceOpts.length"
          placeholder="/drv/..." required />
      <label v-for="opt in mountOpts" style="display: block;">
        {{opt.name}}
        <input type="text" :requiredtodo="!opt.optional"
            v-model="mountOptVals[opt.path]"
            style="width: auto;"
            >
      </label>
    </td>
    <td>
    </td>
    <td>
      <button type="submit">Save</button>
      <button type="button" @click="cancel">Cancel</button>
    </td>
  </form>
</script>

<script type="text/x-template" id="manage-chart">
  <div class="container">
    <div class="row">
      <div class="col s12 l8">
        <div class="grey lighten-4 card">
          <div class="card-content">
            <span class="card-title">
              Chart metadata
            </span>
            <p>
              Public REST endpoint:
              <code>https://devmode.cloud/~{{chart.name}}/</code> (routes to <code>/web</code>)
            </p>
            <p>
              Public browse endpoint:
              <code>skylink+wss://devmode.cloud/chart/{{chart.name}}/</code>
            </p>
            <p>
              Internal browse endpoint:
              <code>skylink://{{chart.name}}.chart.local/</code>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="grey lighten-4 card">
      <table class="card-content">
        <thead>
          <tr>
            <th>Mount path</th>
            <th>Type</th>
            <th>Source path</th>
            <th>Settings</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="entry in entries"
              :key="entry.name">
            <td>{{entry.mountPath}}</td>
            <td>{{entry.deviceType}}</td>
            <td>{{entry.deviceUri}}</td>
            <td></td>
            <td>
              <a href="#" @click="startEdit(entry)"><i class="material-icons">edit</i></a>
              <a href="#" @click="delEntry(entry)"><i class="material-icons">delete</i></a>
            </td>
          </tr>

          <edit-entry
              v-if="editing"
              :path="path"
              :chart="chart"
              :entry="editing"
              :entries="entries"
              @saved="finishEdit"
            />
          </tr>
        </tbody>
      </table>
      <div class="card-action">
        <a href="#" @click="startEdit({})">New Entry</a>
      </div>
    </div>

    <div class="grey lighten-4 card">
          <div class="card-content">
            <span class="card-title">
              Compilation
            </span>
            <p>
              <button @click="compile" class="btn">Compile Chart</button>
            </p>
            <iframe
                v-if="vis"
                :src="'data:text/html;base64,'+vis"
                height="400px" width="100%"
                border="0"
              ></iframe>
          </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="locate-chart">
  <div class="row" style="margin-top: 1em;">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
      <div class="card horizontal grey lighten-4">
        <!--div class="card-image">
          <img src="https://lorempixel.com/100/170/nature/6">
        </div-->
        <div class="card-stacked">
          <form class="card-content" @submit.prevent="openChart">
            <div class="input-field col s12 m8">
              <i class="material-icons prefix">search</i>
              <input id="search" type="text" class="validate"
                  v-model="chartName"
                  placeholder="Globally or locally unique name">
              <label for="search" class="active"
                >Open chart</label>
            </div>
            <div class="col s12 m4" style="text-align: center;">
              <button class="waves-effect waves-light btn" type="submit">Locate</button>
              <a class="waves-effect waves-teal btn-flat" @click="createChart">Create</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col s12 m6"
         v-for="chart in charts"
         :key="chart.name">
      <chart-card
             :chart="chart"
             :name="chart.name"
             :ownerName="chart.ownerName"
             :ownerEmail="chart.ownerEmail"
             :homeDomain="chart.homeDomain"
             :createdDate="chart.createdDate"
           />
    </div>
  </div>
</script>

<script type="text/x-template" id="chart-card">
  <div class="blue darken-2 card">
    <div class="card-image" style="padding-top: 1em;">
      <span class="card-title" style="position: relative;">
        <span style="font-size: 70%; color: #ccc;"
          >{{homeDomain}}/~</span>{{name}}
      </span>
    </div>
    <div class="card-action">
      <a :href="browseUrl" target="_blank">Browse</a>
      <a :href="launchUrl" target="_blank">Launch</a>
      <a href="#" @click="manage">Manage</a>
    </div>
    <div class="card-content grey lighten-4">
      <p>
        Owned by {{ownerName}}
      </p>
      <p v-if="createdDate">
        Created on {{createdDateStr}}
      </p>
    </div>
  </div>
</script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="/~system/lib/skylink.js"></script>
<script src="/~system/lib/utils.js"></script>
<script src="lib.js"></script>
<script src="app.js"></script>
