html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: #B03D4F;
  color: #111;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  width: 30em;
  align-self: center;
  background-color: #fff;
  padding: 12px 0;
  box-shadow: 1px 0 6px 2px rgba(0, 0, 0, 0.3);

  background-image: url(https://i.imgur.com/ByZ17I8.png);
  background-size: 412px 300px;
  line-height: 25px;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 2.75em;
  line-height: 50px;
  font-weight: normal;
}

p, ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

p {
  padding: 0 1em;
}

li {
  padding-right: 1em;
  padding-left: 0.5em;
  display: flex;
}

li label {
  justify-self: center;
  padding: 0 0.5em;
  line-height: 0;
}
li input {
  width: 20px;
  height: 20px;
  margin: 2px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

form {
  padding: 0 1em;
  text-align: center;
  margin-bottom: 25px;
}