<!doctype html>
<title>TODONE</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons" rel="stylesheet">
<link href="app.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="app">
  <h2>TO-DONE!</h2>

  <add-todo></add-todo>

  <p>Here are your things:</p>
  <ul>
    <todo-item
        v-for="id in list"
        :key="id"
        :id="id"
      >
    </todo-item>
  </ul>
</div>

<script type="text/x-template" id="add-todo">
  <form @submit.prevent="save">
    <input
        type="text"
        placeholder="What's next?"
        autofocus
        required
        v-model="text"
      />
    <button type="submit">
      Add the thing
    </button>
  </form>
</script>

<script type="text/x-template" id="todo-item">
  <li v-if="!loading">
    <label>
      <input
          type="checkbox"
          @click="done"
        />
      <span>{{text}}</span>
    </label>
  </li>
</script>

<script src="https://unpkg.com/vue"></script>
<script src="/~system/lib/skylink.js"></script>
<script src="app.js"></script>